body {
	background: url('images/jack-daniels.jpg');
	background-size:100%;
}

#jumbo {
    /* IE8 and below */
    background: rgb(200, 54, 54);
    /* all other browsers */
    background: rgba(200, 54, 54, 0.2);
}

div.grey {
	background-color: #dcdcdc;
}

a {
	color: red;
}

.ng-invalid.ng-dirty {
	border-color: red;
}

.ng-valid.ng-dirty {
	border-color: green;
}