body {
	background: url('images/jack-daniels.jpg');
	background-size:100%;
	background-repeat: no-repeat;
}

#tweets {
	color: white;
}

#moving-tweets {
	padding-left: 25px;
	position: relative;
	animation:mymove 5s infinite;
	-webkit-animation:mymove 5s infinite;
}

@keyframes mymove {
	from {top:0px;}
	to {top:600px;}
	75% {opacity: .5;}
	100% {opacity: 0;}
}

@-webkit-keyframes mymove {
	from {top:0px;}
	to {top:600px;}
	50% {opacity: .75;}
	75% {opacity: .5;}
	100% {opacity: 0;}
}