<!-- Interactive Form Input -->
		<div>
			<label>Name:</label>
			<input type="text" ng-model="yourName" placeholder="Enter a name here">
			<input type="text" ng-model="yourText" placeholder="Enter Text Here">
			<hr>
			<h1>Hello {{yourName}}!</h1>
			<textarea>{{yourText}}</textarea>
		</div>

		<hr>
		<br>

		<div>
			<p id="textOne">Cool</p>
			<button class="btn btn-primary" onclick="changeText()">Click Me</button>
		</div>

		<hr>
		<br>

		<div>
			<p>Some paragraph text</p>
	    <h1>some heading 1 text</h1>
	    <h2>some heading 2 text</h2>

	    <a href="#" id="size-12">12</a>
	    <a href="#" id="size-14">14</a>
	    <a href="#" id="size-16">16</a>
		</div>

		<hr>
		<br>
		<h1>Module Pattern with Closures</h1>
		<p id="petText">Mickey the Cat</p>
		<button class="btn btn-info" onclick="changePet()">Change Pet Name</button>
	

		<div id="compositeText">
			<p>Cool</p>
			<p>Awesome</p>
			<p>It's amazing</p>
			<button class="btn btn-warning" onclick="showDOM()">show DOM elements</button>
		</div>

		<hr>
		<br>

		<h1>Module Pattern 2</h1>
		<p id="moduleText">This sentence will change when data is accessed from a module.</p>
		<button class="btn btn-success" id="moduleButton">Module Change</button>

		<hr>
		<br>